# Arquivos da IDE
.idea/
*.iml
*.iws

# Ignora a pasta de build do CMake (onde ficam os executáveis)
cmake-build-*/

# Object files (lixo intermediário da compilação)
*.o
*.obj

# Executáveis (não enviamos o .exe, enviamos o código fonte!)
*.exe
*.out
*.app

# Libraries e Arquivos Linkados
*.lib
*.a
*.dll
*.so
*.dylib

# Logs e Debug
*.log
*.pdb
*.dSYM/

# Sistema Operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de dados grandes
cmake-build-debug/bios.csv
cmake-build-debug/results.csv